body {
    font-family: Arial, sans-serif;
    background-color: #fff5bc;
    margin: 0;
    padding: 10px;
}
.container {
    max-width: 800px;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
label {
    margin-top: 10px;
    display: block;
}
input[type="number"] {
    width: 90%;
    padding: 20px;
    margin: 5px 0 15px;
    border: 1.5px solid #000000;
    border-radius: 20px;
    font-size: 15px;
}
input[type="text"] {
    width: 90%;
    padding: 20px;
    margin: 5px 0 15px;
    border: 1.5px solid #000000;
    border-radius: 20px;
    font-size: 15px;
}


.button-container {
    display: flex;
    justify-content: flex-start;
    
}
button {
    margin: 3px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #71b6ff;
    color: white;
    transition: background-color 0.3s;
    font-size: 15px;
}
button:hover {
    background-color: #0056b3;


}
.calculation {
    margin-top: 20px;
    background: #f9f9f9;
    padding: 20px;
    border-left: 3px solid #3c9aff;
}
@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
    }
    button {
        margin-bottom: 20px;
    }
}